<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="assets/bootstrap.min.css" rel="stylesheet">
  <link href="assets/ebp.css" rel="stylesheet">
</head>
<body>
<div class="container">
  <ol class="breadcrumb">
    <li><a href="index.html">Home</a></li>
    <li><%= make.name %></li>
  </ol>
  <h2><%= make.name %></h2>

  <div class="row">
    <div class="col-sm-8">

      <div class="row">
        <% make.images.first(10).each do |key, obj| %>
            <div class="col-sm-6 col-md-4">
              <a href="#" class="thumbnail">
                <img src="<%= obj.thumbnails[1] %>">
              </a>
            </div>
        <% end %>
      </div>
    </div>
    <div class="col-sm-3 col-sm-offset-1">
      <h4>Camera models</h4>

      <div class="row">
        <ul>
          <% make.models.each do |model| %>
              <li>
                <a href="<%= "#{make.name.to_slug}-#{model.name.to_slug}" %>.html">
                  <%= model.name %>
                </a>
              </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
</body>
</html>